* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, .nav-font {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

body {
    font-family: 'Inter', sans-serif;
    color: #111827;
    background: white;
    line-height: 1.5;
}

